# Binaries and build artifacts
/pixiv-downloader
*.exe
*.exe~
*.dll
*.so
*.dylib

# SQLite Database and WAL files
pixiv.db
pixiv.db-*

# Downloaded Artworks directory
/downloads/

# IDE / Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

pixiv-downloader

pixiv-downloader.db
pixiv-downloader.db-shm
pixiv-downloader.db-wal

